@page
@model waterMeter.Pages.Apartments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>Все показания</h3>
<h4>@Html.DisplayFor(model => model.Apartment.Name)</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Показания
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MetersDatas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestimonyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }

    </tbody>
</table>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Apartment?.Id">Редактировать адрес</a> |
    <a asp-page="./Index">Назад к списку</a>
</div>
