@page
@model waterMeter.Pages.MeterReplacementHistorys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>История замены счётчиков</h3>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата установки
            </th>
            <th>
                Значение на момент замены
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MeterReplacementHistory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstallationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a>
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
