@page
@model waterMeter.Pages.MetersWithExpiredVerification.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Список </h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Адрес дома
            </th>
            <th>
                Счётчики с истёкшей поверкой
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DistHouses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Model.ExperiedMeters[item]
                </td>
            </tr>
        }
    </tbody>
</table>
