@page
@model waterMeter.Pages.MetersWithExpiredVerification.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Список домов</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apartment[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apartment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Список счётчиков</a>
            </td>
        </tr>
}
    </tbody>
</table>
