@page
@model waterMeter.Pages.Apartments.IndexModel

@{
    ViewData["Title"] = "Задание";
}

<a class="nav-link text-dark" asp-area="" asp-page="./Apartments/Index">Показания по квартирам</a>
<a class="nav-link text-dark" asp-area="" asp-page="./Meters/Index">Список счётчиков</a>
<a class="nav-link text-dark" asp-area="" asp-page="./MetersWithExpiredVerification/Index">Счётчики с истёкшей поверкой</a>
<a class="nav-link text-dark" asp-area="" asp-page="./MeterReplacementHistorys/Index">История замены счётчиков</a>