@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Меню</h1>
    <p><a href="https://localhost:7001/Apartments">Квартиры</a>.</p>
    <p><a href="https://localhost:7001/Meters">Счётчики</a>.</p>
    <p><a href="https://localhost:7001/MetersDatas">Показания</a>.</p>
    <p><a href="https://localhost:7001/MeterReplacementHistorys">История замены</a>.</p>
    
</div>
